<footer class="footer footer-expand-lg footer-light py-3 mt-auto" style="background-color: #00000057;">
    <!-- <div class="container">
        <span class="text-muted" style="color: #ffffff; align-content: center;" > &copy; InterNatter 2021</span>
    </div> -->
    <div class="container">
        <p style="color: #ffffff; text-align: center;" >&copy; InterNatter 2021</p>
    </div>
</footer>