#chatLog{
    margin-top: 30px;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card{
    padding-left: 20px;
}

.card .card-body{
    /* margin-top: 10px; */
    padding: 3px;
    
}

.myMsg{
    text-align: right;
}

#sendMsg{
    margin-top: 30px;
    margin-bottom: 60px;
}