@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#chatroomList {
    position: fixed;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #CAF2F1, #E0F6FB);
    height: 100%;
    background: rgb(174, 131, 190);
    overflow-y: auto;
    width: 28%;
}

#chatroomList a {
    text-decoration: none;
}

#chatroomList h1 {
    font-weight: bold;
}

#chatroomList .card {
    border-radius: 30px;
}

#chatroomList .card img {
    width: 80%;
    margin: 10%;
    border-radius: 30%;
}

#chatroomList .chatroomListItem {
    margin-top: 25px;
}
