@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { padding: 0; margin: 0; }
html, body{
    padding-top: 0px;
    position: relative;
    height: 100%;
    size: 12px;
}


body {
  font-family: 'Montserrat', sans-serif;
}


.hero h1{
    text-align: left;
    color: #CAF2F1;
    font-size: 100px;
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 40px;
}

.hero p {
  text-align: left;
  color: #CAF2F1;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 40px;
}
  
.profile-info {
    padding: 12px;
    margin: 12px 0;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: white;
  }

.profile {
    width: 50%;
    box-shadow: 0 0 30px 0 #057996;
    background: #00000057;;
    padding: 50px;
    margin: 0 auto;
    text-align: left; 
}

.profile h1 {
  color: white;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.nav-link {
  color: white;
}

.login {
    width: 30%;
    box-shadow: 0 0 30px 0 #057996;
    background: #00000057;;
    padding: 50px;
    margin: 0 auto;
    text-align: left; 
}

.login h1 {
  color: white;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.login label {
  color: white;
  font-weight: bold;
}

.login button {
  background-color: #043527c9;
  margin-top: 20px;
  align-self: center;
  border: none;
}

.register {
  box-shadow: 0 0 30px 0 #057996;
  background: #00000057;;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.register h1 {
color: white;
font-size: 40px;
font-weight: 700;
text-align: center;
padding-bottom: 40px;
}

.register label {
color: white;
font-weight: bold;
}

.register button {
background-color: #043527c9;
margin-top: 20px;
border: none;
}