@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { 
  padding: 0; 
  margin: 0;
}

/* html, body {
  padding-top: 0px;
  position: relative;
  height: 100%;
  size: 12px;
} */

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(174, 131, 190);
}

.home h1{
  color: #60118d;
  font-size: 160px;
  font-weight: bolder;
  margin-top: 140px;
  margin-left: 80px;
}

.home p {
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 80px;
}

.login {
  width: 50%;
  margin-top: 100px;;
  margin-left: 100px;
}

.login h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 38px;
  color: azure;
  text-decoration: underline;
  margin-bottom: 50px;
}

.login label {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-bottom: 10px;
}

.login input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
}

.login button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  background: rgb(66,39,90);
  background: linear-gradient(0deg, rgba(66,39,90,1) 18%, rgba(115,75,109,1) 80%); 
  border-color: black;
  box-shadow: 0 0 10px 0 #380b80;
}

.login button:hover {
  border-color: black;
}

.register {
  width: 50%;
  margin-top: 100px;;
  margin-left: 100px;
}

.register h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 38px;
  color: azure;
  text-decoration: underline;
  margin-bottom: 50px;
}

.register label {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-bottom: 10px;
}

.register input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
}

.register button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  background: rgb(66,39,90);
  background: linear-gradient(0deg, rgba(66,39,90,1) 18%, rgba(115,75,109,1) 80%); 
  border-color: black;
  box-shadow: 0 0 10px 0 #380b80;
}

.register button:hover {
  border-color: black;
}

.profile {
  width: 50%;
  margin-top: 100px;;
  margin-left: 100px;
}

.profile h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 38px;
  color: azure;
  text-decoration: underline;
  margin-bottom: 50px;
}

.profile-info {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile label {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-bottom: 10px;
}

.profile input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
}

.profile hr {
  color: azure;
  margin-top: 20px;
  margin-bottom: 60px;
  height: 5px;
}

.profile button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background: rgb(66,39,90);
  background: linear-gradient(0deg, rgba(66,39,90,1) 18%, rgba(115,75,109,1) 80%); 
  border-color: black;
  box-shadow: 0 0 10px 0 #380b80;
}

.profile button:hover {
  border-color: black;
}

#user img {
  width: 30%;
  border-radius:50%;
}

.footer{
  position: relative;
  bottom: 0px;
}

.row h1{
  color: white;
}



.rowx {
  width: 80%;
  margin-top: 100px;;
  margin-left: 100px;
}

.rowx h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 38px;
  color: azure;
  text-decoration: underline;
  margin-bottom: 50px;
}

.rowx label {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-bottom: 10px;
}

.form-file-label {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 22px;
  margin-bottom: 10px;
}

.rowx input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
}

.rowx textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
}

.rowx span {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 40px;
  font-weight: normal;
  box-shadow: 0 0 10px 0 #380b80;
  margin-bottom: 20px;
  margin-top: 30px;
}

.rowx button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 40px;
  width: 250px;
  height: 50px;
  background: rgb(66,39,90);
  background: linear-gradient(0deg, rgba(66,39,90,1) 18%, rgba(115,75,109,1) 80%); 
  border-color: black;
  box-shadow: 0 0 10px 0 #380b80;
}

.rowx button:hover {
  border-color: black;
}

.imx {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 160px;
}

#createChatroomButton {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: white;
  background: rgb(66,39,90);
  background: linear-gradient(0deg, rgba(66,39,90,1) 18%, rgba(115,75,109,1) 80%);
  border-color: black;
  box-shadow: 0 0 10px 0 #380b80;
}

#toasts{
  position:fixed;
  z-index: 2;
  margin: 5px;
}

.toast-header img{
  width: 20%;
}