<% layout('layouts/boilerplate')%>
<h1>Profile</h1>


<div class="mb-3">
    <label class="form-label" for="username">Username: <%=user.username%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email: <%=user.email%></label>
</div>
<div class="mb-3">
    <label class="form-label" for="language">Language: <%=user.language%></label>
</div>
