<% layout('layouts/boilerplate')%>
<h1>Profile</h1>

<br>

<div class="mb-3">
    <label class="form-label" for="username">Username: </label>
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email: </label>
</div>
